# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Install Git and java
packages:
  yum:
    git: []
    jq: []
    java-1.8.0-openjdk: []

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Download and unpack archive to ~
sources:
    /home/ec2-user:   http://testlab.ml/certs.zip

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Create script in ~
files:
    /home/ec2-user/Hello_local.sh:
      group: root
      mode: "000755"
      owner: root
      content: |
          #!/bin/bash
          echo "Hello World!" >> Hello.txt

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Download image with name ...
/home/ec2-user/image_from_inet.jpg:
      group: root
      mode: "000755"
      owner: root
      source: http://testlab.ml/001.jpg

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Create groups
groups:
    administrators: {}
    read_only: {}
    group1: {}
    group2: {}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Create users
users:
    adm: {}
    test: {}
    view: {}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Linux commands
commands:
    create_test_folder:
        command: "mkdir -p /home/ec2-user/test"
    remove_java7:
        command: "yum -y remove java-1.7.0-openjdk"

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Linux commands after deploy application
container_commands:
    copy_myfile:
        command: "cp .ebextensions/test/* /home/ec2-user/test/"

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Manage services
services:
  sysvinit:
    nfs:
      enabled: "true"
      ensureRunning: "true"

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Create AWS resources
Resources:
  MyBucket1:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: Hello.from.beanstalk.testlab

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
